<% provide(:title, "Samples") %>
<h1>View</h1>
<h2>Wommack Lab Sample Info</h2>

<%= render 'layouts/sample_nav_bar' %>

<%= form_tag view_samples_path, method: 'get', remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil, id: "search-button" %>
  </p>
<% end %>

<div id="table-container" class="table-container">
  <%= render 'layouts/samples_table' %>
</div>
