<h1>View</h1>
<h2>Sampling Info</h2>

<%= render 'layouts/sample_nav_bar' %>

<div id="table-container" class="table-container">
  <table class="scroll-table">
    <thead class="fixed-header">
      <tr class="header-row">
	<th>Sample date</th>
	<th>Pen ID</th>
	<th># head</th>
	<th>Crew</th>
	<th>Oberservations</th>
	<th>Hide</th>
	<th>Carcass</th>
	<th>Feces</th>
      </tr>
    </thead>
    <tbody class="scroll-content">
      <% SamplingInfo.all.each do |info| %>
	<tr>
	  <td><%= info.sample_date %></td>
	  <td><%= info.pen_id  %></td>
	  <td><%= info.head_per_pen %></td>
	  <td id="crew"><%= @crews[info.crew_id-1] %></td>
	  <td><%= info.observations %></td>
	  <td><%= info.hides_n %></td>
	  <td><%= info.carcass_n %></td>
	  <td><%= info.feces_n %></td>
	</tr>
	<% end %>
    </tbody>
  </table>
</div>

