<% provide(:title, "View") %>
<h1>View</h1>

<div id="table-container" class="table-container">
  <table class="scroll-table">
    <thead class="fixed-header">
      <tr class="header-row">
	<th>ID</th>
	<th>Type</th>
	<th>Cryobox Num</th>
	<th>Cryobox Loc</th>
	<th>Status</th>
      </tr>
    </thead>
    <tbody class="scroll-content">
      <% Sample.all.each do |sample| %>
	<tr>
	  <td><%= sample.sample_id %></td>
	  <td><%= sample.sample_type %></td>
	  <td><%= sample.cryobox_num %></td>
	  <td><%= sample.cryobox_location %></td>
	  <td><%= sample.processing_status %></td>
	</tr>
	<% end %>
    </tbody>
  </table>
</div>
