<header>
  <div id="header-container">
    <div id="header-content-bar">
      <nav>
	<ul id="header-navigation-items">
	  <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "About", about_path %></li>
	  <li><%= link_to "View", view_path %></li>
	  <li><%= link_to "Add", add_path %></li>
	  <li><%= link_to "Edit", edit_path %></li>
	  <li><%= link_to "Contact", contact_path %></li>
	  <li><%= link_to "Help", help_path %></li>
	</ul>
      </nav>
    </div>
  </div>
</header>
