<!DOCTYPE html>
<html>
<head>
  <title>Happy Moo BDBC | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="header-content">
      <ul id="header-navigation">
	<li>Home</li>
	<li>About</li>
	<li>View</li>
	<li>Add</li>
	<li>Edit</li>
	<li>Contact</li>
      </ul>
    </div>
  </header>
  <%= yield %>

</body>
</html>
